
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>reCAPTCHA v2</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  </head>
  <body>

    <div class="container">
      {% if error_message %}
      <div class="row">
        <div class="col-md-12">
          <h3><span class="label label-warning">{{ error_message }}</span></h3>
        </div>
      </div>
      {% endif %}


      <div class="row">
        <div class="col-md-12">
          <div class="jumbotron">
            <h1>reCAPTCHA test</h1>
            <p>{{ message }}</p>
            {% if site_key %}
            <form action="./validate" method="POST">
              <div class="g-recaptcha" data-sitekey="{{site_key}}"></div>
              <br/>
              <input type="submit" value="Submit">
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </body>
</html>
